body {
    margin: 0px !important;
    font-family: Roboto;
}

header {
    background-color: rgb(39, 56, 82);
    width: 100%;
    padding: 30px;
}

.header h5 {
    font-family: Roboto;
    margin: 0px;
    color: rgb(39, 56, 82);
}

.header h1 {
    font-family: Roboto;
    margin: 0px;
    color: rgb(39, 56, 82);
}

.headerDiv {
    background-color: rgb(255, 255, 255);
    width: 220px;
    padding: 20px;
    text-align: center;
    margin: auto;
    border: 2px solid rgb(216, 91, 72);
}

main {
    margin: 50px;
}

main hr {
    color: rgb(39, 56, 82);
}

.main-head {
    padding-top: 10px;
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.select-category h5 {
    margin: 0px 0px 10px 0px;
}

#Category {
    padding: 5px;
    width: 200px;
}

.main-heading {
    color: rgb(39, 56, 82);
}

.subscribe h5 {
    margin: 0px 0px 10px 0px;
}

.EmailSub {
    display: flex;
    border: 2px solid rgb(39, 56, 82);
}

#EmailInput {
    border: 0px;
    padding: 7px;
}

#SubscribeButton {
    border: 0px;
    background-color: rgb(39, 56, 82);
    color: rgb(255, 255, 255);
}

.news-card {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    margin-bottom: 20px;
}

.image-placeholder {
    width: 200px;
    height: 200px;
    background-color: rgb(208, 208, 208);
}

.news-info {
    max-width: 75%;
    margin-left: 20px;
}

.news-info h3,
h6 {
    margin: 0px;
    margin-bottom: 5px;
}

#read-full-news {
    border: 0px;
    background-color: rgb(216, 91, 72);
    padding: 10px;
    color: rgb(255, 255, 255);
}

footer {
    background-color: rgb(39, 56, 82);
    width: 100%;
    padding: 10px;
    color: rgb(208, 208, 208);
    text-align: center;
}

.card-hr {
    color: rgba(100, 100, 100, .5);
}