.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 5px solid black;
    grid-gap: 5px;
}

.grid-item {
    padding: 10px;
}

.grid-item:nth-child(even) {
    background-color: brown
}

.grid-item:nth-child(odd) {
    background-color: burlywood
}